body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.balls-container>* {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;
    padding: 20px;
    margin: auto;
    border-radius: 50%;

    font-size: 22px;
    font-weight: bold;
}

.ball1 {
    background-color: lightblue;
}

.ball2 {
    background-color: rgb(189, 101, 155);
}

.ball3 {
    background-color: rgb(68, 93, 173);
}

.ball4 {
    background-color: rgb(68, 173, 103);
}

.ball5 {
    background-color: rgb(164, 199, 84);
}