body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.ball {
    display: flex;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: lightblue;
    margin: auto;
    font-size: 22px;
    font-weight: bold;

    justify-content: center;
    align-items: center;
}

.ball2 {
    display: flex;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(189, 101, 155);
    margin: auto;
    font-size: 22px;
    font-weight: bold;

    justify-content: center;
    align-items: center;
}